[access]
	inheritFrom = All-Projects
[project]
	description = Message Oriented Middleware Bindings for MD-SAL\n\
\n\
This project is archived and read-only as on 2018-08-10.\n\
\n\
https://lists.opendaylight.org/pipermail/tsc/2018-August/010058.html
	state = read only
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-messaging4transport-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
